{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter ustensile </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="file" name="icone" />
    <br>
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ustensiles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
