{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plat creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="file" name="image0" />
    <br>
    <input type="file" name="image1" />
    <br>
    <input type="file" name="image2" />
    <br>
    <input type="file" name="image3" />
    <br>
    <input type="file" name="image4" />
    <br>
    <input type="file" name="image5" />
    <br>
    <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('plat_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
