{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une note</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('note_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
