{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ustensille creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="file" name="icone" />
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    <br>
    <ul>
        <li>
            <a href="{{ path('ustensilles_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
